# Node dependencies
/node_modules/
*/node_modules/
frontend/node_modules/

# Build directories
/public/build/
*/public/build/
frontend/public/build/

# Other files to ignore
.DS_Store
backend/models/spectrum_predictor.pkl
.venv
.vscode
.cursorignore
.env
.gitignore
__pycache__/
*.pyc
package-lock.json
backend/models/feature_preprocessor.pkl
backend/models/feature_mapping.
__pycache__/
*.py[cod]
*$py.class
backend/models/feature_mapping.json
backend/models/spectrum_predictor.pkl
backend/models/feature_mapping.json